@model CRUD_Personas_ASP.Models.ViewModels.vmCreateEditDetails

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Persona a editar</h4>
<h1>@ViewBag.Mensaje</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PersonaVacia.Nombre" class="control-label"></label>
                <input asp-for="PersonaVacia.Nombre" class="form-control" />
                <span asp-validation-for="PersonaVacia.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonaVacia.Apellidos" class="control-label"></label>
                <input asp-for="PersonaVacia.Apellidos" class="form-control" />
                <span asp-validation-for="PersonaVacia.Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonaVacia.Telefono" class="control-label"></label>
                <input asp-for="PersonaVacia.Telefono" class="form-control" />
                <span asp-validation-for="PersonaVacia.Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonaVacia.Direccion" class="control-label"></label>
                <input asp-for="PersonaVacia.Direccion" class="form-control" />
                <span asp-validation-for="PersonaVacia.Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonaVacia.FechaNac" class="control-label"></label>
                <input asp-for="PersonaVacia.FechaNac" class="form-control" />
                <span asp-validation-for="PersonaVacia.FechaNac" class="text-danger"></span>
            </div>
             <select name="PersonaVacia.IdDepartamento" >
                @foreach(CRUD_Personas_Entidades.Departamento departamento in @Model.Departamentos)
                {
                    <option name="PersonaVacia.IdDepartamento" value="@departamento.Id" selected="@(departamento.Id == Model.PersonaVacia.IdDepartamento)" >@departamento.Nombre</option>
                }
            </select>
            <div class="form-group">
                <label asp-for="PersonaVacia.Foto" class="control-label"></label>
                <input asp-for="PersonaVacia.Foto" class="form-control" />
                <span asp-validation-for="PersonaVacia.Foto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Listado">Back to List</a>
</div>

